# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: JijModeling
author: Jij Inc.
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force
  timeout: 60
  exclude_patterns:
    - "releases/jijmodeling-*"

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
# TODO: mainブランチへマージする際には、branchをmainに変更してください
repository:
  url: https://github.com/Jij-Inc/JijModeling-Tutorials # Online location of your book
  path_to_book: docs/en # Optional path to your book, relative to the repository root
  branch: main # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon: "./logo.png"
  use_issues_button: true
  use_repository_button: true
  analytics:
    google_analytics_id: GA4_TRACKING_ID

launch_buttons:
  notebook_interface: "classic"
  binderhub_url: "https://mybinder.org"
  colab_url: "https://colab.research.google.com"

sphinx:
  recursive_update: true
  config:
    html_theme_options:
      show_toc_level: 5
    intersphinx_mapping:
      api_reference: [https://jij-inc-jijmodeling.readthedocs-hosted.com/en/stable/, null]
      numpy: [https://numpy.org/doc/stable, null]
      python: ["https://docs.python.org/3", null]
      ommx_api: ["https://jij-inc.github.io/ommx/python/ommx", null]
      ommx_doc: ["https://jij-inc.github.io/ommx/en", null]

parse:
  myst_enable_extensions:
  - deflist
  - amsmath
  - dollarmath
  - attrs_inline
  - colon_fence
  - fieldlist
  - html_admonition
  - html_image
  - linkify
  - strikethrough
